<table>
    <thead>
        <tr>
            <td>Acronym</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>TRL</td>
            <td>Technology Readiness Level</td>
        </tr>
        <tr>
            <td>TRL</td>
            <td>Technology Readiness Level</td>
        </tr>
        <tr>
            <td>TRL</td>
            <td>Technology Readiness Level</td>
        </tr>
        <tr>
            <td>TRL</td>
            <td>Technology Readiness Level</td>
        </tr>
        <tr>
            <td>TRL</td>
            <td>Technology Readiness Level</td>
        </tr>
        <tr>
            <td>TRL</td>
            <td>Technology Readiness Level</td>
        </tr>
        <tr>
            <td>TRL</td>
            <td>Technology Readiness Level</td>
        </tr>
        <tr>
            <td>TRL</td>
            <td>Technology Readiness Level</td>
        </tr>
    </tbody>
</table>